# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Silence/Temp/UnityTempFile-0b5bed4a0b2c3457f8456b56fcbf2ca1

Silence/Temp/UnityTempFile-18ca5d545993a4c9bab47bff6af13f41

Silence/Temp/UnityTempFile-2daf25b87f8fd46e1ad3b06762cb3397

Silence/Temp/UnityTempFile-2d489fc8bbdc74b07bbc3454dbf8a89c

Silence/Temp/UnityTempFile-371152c4c49a24ed9ab860f1103017cf

Silence/Temp/__Backupscenes/0.backup

Silence/Temp/UnityTempFile-615d072fa8a4f4ca3a3065b46150889a

Silence/Temp/UnityTempFile-805fce8e61789449f8591ce33f393694

Silence/Temp/UnityTempFile-97310f5e0116d4fb4ab013015fa68086

Silence/Temp/UnityTempFile-999241130912548e880108e938691e5f

Silence/Temp/UnityTempFile-a3464d78c571242c4825f3b949388719

Silence/Temp/UnityTempFile-b4a3b71e645b742459df754381677bf7

Silence/Temp/UnityTempFile-b508988aab4ba4a1687611d7b0f5654b

Silence/Temp/UnityTempFile-bf2038e09c92644db9a3ab972f384001

Silence/Temp/UnityTempFile-c4a747e3bbf974961965e0e7aff6027c

Silence/Temp/UnityTempFile-d2e0333c80428488d95ace4792ac8be3

Silence/Temp/UnityTempFile-da93ee912c72342bca7f4b20ce7d0028

Silence/Temp/UnityTempFile-e96cae93405c54c4c808b77f9d9f3529

Silence/Temp/UnityTempFile-fbb30493a808a41a6909fbf29ae360a8

Silence/Temp/UnityTempFile-fc5640fb015154b87972e5aa637263bb
Silence/Library/ScriptAssemblies/Assembly-CSharp.dll
Silence/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Silence/Library/CurrentLayout.dwlt
Silence/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Silence/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Silence/Library/CurrentLayout.dwlt
